<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>user1</string>
		<key>chatMsg</key>
		<string>dfsfwfwafwa</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>user2</string>
		<key>chatMsg</key>
		<string>dfwefwa大发大发唯饭我发完饭哇发文发完恶法俄方我发文发恶风完饭唯饭唯饭二娃饿发唯饭哇饿饭唯饭</string>
	</dict>
</array>
</plist>
